.fruitList {
    background-color: lightblue;
    padding:1rem;
}

.fruitList .objDiv {
    background-color: #CCCCCC; /* lightgrey */
    border-radius:0.25rem;
    margin-bottom:1rem;
    text-align:center;
    padding:0.5rem;
}