/LAB/LA01/Ewing_web/nbproject/private/
/LAB/LA01/Ewing_web/build/
/HW/Ewing_web/nbproject/private/
/LAB/LA01/Ewing_lab_web/nbproject/private/
/HW/Ewing_hw_web/nbproject/private/
/HW/Ewing_hw_web/build/
/HW/Ewing_HW/nbproject/private/
/HW/Ewing_HW/build/
/HW/Ewing_LAB01/nbproject/private/
/LAB/LA02/Ewing_LA02/nbproject/private/
/HW/Ewing_HW2/nbproject/private/
/LAB/LA02/Test/nbproject/private/
/LAB/Ewing_LAB3/nbproject/private/
/HW/Ewing_HW2/build/
/HW/Ewing_HW3/nbproject/private/
/LAB/LA05/LA05_WebAPI/nbproject/private/
/LAB/LA05/LA05_WebAPI/build/
/Test/Client_Server/build/
/Test/Client_Server/nbproject/private/
/HW/Ewing_HW5/nbproject/private/
/HW/Ewing_HW5/build/
/HW/Ewing_HW5_WebAPI/nbproject/private/
/HW/Ewing_HW5_WebAPI/build/
/LAB/LA06/Ewing_LA6_ClickSort/nbproject/private/
/LAB/LA06/Ewing_LA6_ClickSort/build/
/HW/Ewing_HW6/Ewing_HW6_Click_Sort/nbproject/private/
/HW/Ewing_HW6/Ewing_HW6_Click_Sort/build/
/LAB/LA07/Ewing_Lab07_Logon/nbproject/private/
/LAB/LA07/3308_07a_LogonFind_LA/nbproject/private/
/LAB/LA07/3308_07a_LogonFind_LA/build/
/LAB/LA07/Session_demo/build/
/HW/Ewing_HW7/Ewing_HW7_Logon/nbproject/private/
/HW/Ewing_HW7/Ewing_HW7_Logon/build/
/Tutorial/Ewing_Tutorial/nbproject/private/
/Tutorial/Ewing_Tutorial/build/
/Tutorial/Ewing_Tutorial_Test/nbproject/private/