/LAB/LA01/Ewing_web/nbproject/private/
/LAB/LA01/Ewing_web/build/
/HW/Ewing_web/nbproject/private/
/LAB/LA01/Ewing_lab_web/nbproject/private/
/HW/Ewing_hw_web/nbproject/private/
/HW/Ewing_hw_web/build/
/HW/Ewing_HW/nbproject/private/
/HW/Ewing_HW/build/
/HW/Ewing_LAB01/nbproject/private/
/LAB/LA02/Ewing_LA02/nbproject/private/
/HW/Ewing_HW2/nbproject/private/