/* Style the HTML table that aligns the user input area */

.insertArea {
    margin-top: 1em;
    margin-left: 3em;
}

.insertArea td {
    padding: 8px;
    font-weight: bold;
    font-size:13px;
}

.insertArea .error {
    color:#7B241C; 
}