.car {
    background-color:#DDDDDD; /* light grey */
    padding:0.5rem;
    margin:0.5rem;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #888888; /* darker grey */
    text-align: center;
    margin-bottom: 1rem;
}

.car img {
    width: 30%;
}

.car h3 {
    color: red;
    margin-bottom: 0.5rem;
}