body {
    margin: 0px;
    padding: 0px;
    background-color: #1E1E1E;
    font-family: sans-serif;
    color: #F2FAFF;
}

/* Removing text decoration for all hyperlinks. */
#nav a {
    text-decoration: none;
    color: #F2FAFF;
}

/* Changes color when hovering over a hyperlink in the nav */
#nav > a:hover {
    color: #94BBD1;
}

a {
    text-decoration: none;
    color: #007ACC; 
}


/* Allowing all images to take up to 100% by default. Image with will be constrained by its container, for example a column. */
.column img {
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* The next few id's are self explanatory and required for the assignment. */
#titleNav {
    /* Positioning */
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-height: 62px;
    
    background-color: #007ACC;
    color: #F2FAFF;
    font-family: sans-serif;

}

#title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    font-size: 36px;
    white-space: nowrap;
}

#nav {
    /* Positioning */
    text-align: right;

    /* Spacing */
    padding-top: 14px;
    padding-right: 2rem;

    font-size: 26px;
    color: #F2FAFF;

}

#content {
    /* Top margin 60px because titleNav text size is 36px and nav top and bottom padding is 10px + double, accounting to column view + some for asthetics*/
    /* Bottom margin is 40px because footer text size is 16px and top and bottom padding is 10px + some for asthetics*/
    padding: 140px 0px 60px 0px;
    margin: 2;
    display: flex;
    flex-direction: row;
}


.row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    padding: 10px 15px 10px 15px;
    width: 100%;
}

.column-s {
    width: 25%;
}

.column-m {
    width: 50%;
}

.column-l {
    width: 75%;
}


#footer {
    /* Positioning */
    position: fixed;
    background-color: #007ACC;
    color: #F2FAFF;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;

    font-size: 16px;


    /* Spacing */
    padding: 10px 0px 10px 0px;
}


@media only screen and (max-width: 600px) { 

    #titleNav {
        /* Positioning */

        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .column {
        width: 75%;
    }

}

