/* Don't want tiny white border inside browser window - apply to html and body. */
html, body {  
    margin:0; 
    padding:0; 
}

body { 
    background-color: rgb(118, 175, 192); /* this is the turqoise color */
    color: black;  /* color of font */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* no tail font is more readable for small font */
    font-size:16px;
}

#titleNav { /* titleNav is fixed, always at the top */

    /* position fixed removes the element from the normal flow, placing it where you specify with top/bottom, left/right */
    position:fixed; 
    top:0px;
    left:0px;
    z-index: 1;     /* To make sure titleNav is on top of content, give it a higher z-index than content 
                    (content would have default value of zero). */
    width: 100%;
    background-color:black;
    background-color: rgb(239, 144, 96);
    padding-bottom: 10px; 
    /* height: 86px; /* NEW */
    color: white;
    font-family: serif; 
    font-weight: bold;

}

#title { /* no change */
    padding:12px;
    padding-bottom: 0px;
    font-size:48px;
    letter-spacing: 1.5px; /* spaces out letters a bit */
    white-space: nowrap;
}

#nav { /* fix the nav bar */
    position: fixed; 
    top: 0px;
    right: 0px;
    text-align:right;
    font-size:24px;
    padding-bottom: 12px;
    padding-top:32px;
}


#nav a {  /* no change */
    text-decoration:none;  /* Do not want links in "nav" to be underlined */
    color: white; /* light gray: to provide color for links, you have to style the "a" tag */
}

#content {  /* Added padding top and bottom to prevent top/bottom content from getting hidden under titleNav/footer */ 
    padding:12px;
    padding-top: 80px; /* prevent the top of the content from getting hidden under the fixed titleNav */
    padding-bottom: 40px; /* prevent the the bottom of the content from getting hidden under the fixed footer */
}

#footer { /* footer fixed, always at the bottom */
    position: fixed;
    bottom: 0px; 
    left: 0px; 
    z-index: 1; /* make sure footer is on top of content which would have default z-index value of 0 */

    background-color: rgb(239, 144, 96);
    color: white; 
    width:100%;
    text-align:center;
    padding:8px;	 	 
}

#mainlinks:link {
    color: pink;
    text-decoration:none;
}

#mainlinks:hover {
    color: darkblue;
    text-decoration: underline;
}

#mainlinks:visited {
    color: blueviolet;
}