/*
CSS file naming convention says all rules in this file need 
to start with a class that's the same names as the CSS file.
*/

.car {
    background-color: lightgrey;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 1rem;
}