.body {
    margin: 20px;
}

.article {
    margin:2rem;
    width: 36rem;
    padding: 15px;
    overflow: auto;
    margin-bottom: 2rem;
    color: #F2FAFF;
}

.article:hover {
    transition: 0.25s;
    box-shadow: 0px 0px 10px 10px #141414;
}


.article button:focus {
    outline:none;
}

.article input {
    margin-right: 10px;
    background-color: #505050;  
    color: #F2FAFF;
}

.article input:focus {
    outline:none;
}

.article img {
    height: 8rem;
    width: auto;
    margin: 0px 15px 15px 0px;
    /* padding-right: 15px; */
    float:left;
    clear:both;
}

.articleHover {
    transition: 0.25s;
    box-shadow: 0px 0px 10px 10px #141414;
}

.edited {
    color: #feffc4;
}